.signin-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 500px 40px 500px;
  padding: 60px 0px;
  border: 2px solid black;
  border-radius: 15px;
}

.signin-box h2 {
  font-weight: 600;
}

.signin-box h6 {
  padding-top: 15px;
}

.user-box {
  padding-top: 20px;
  text-align: center;
  width: 300px;
}

.user-button {
  padding-top: 20px;
  text-align: center;
}

.user-button a {
  width: 150px;
  height: 40px;
}