.cards-wrapper {
    display: flex;
    justify-content: center;

}

.card {
    width: 250px;
    /* Set the fixed width for the card */
    height: 400px;
    /* Set the fixed height for the card */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 200px;
    /* Set the fixed height for the image */
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex-grow: 1;
    /* Allow the body to grow and fill remaining space */
    display: flex;
    flex-direction: column;
}

.carousel-control-next, .carousel-control-prev{
    width: 10%;
}

.card-title {
    font-size: 12px;
    font-weight: 300;
}

.price {
    font-weight: bold;
    color: green;
}

.buttons-container {
    margin-top: 5px;
    position: absolute;
    top: 340px;
    display: flex;
    justify-content: center;
}

.add-to-cart-btn{
    padding: 5px !important;
}

.wishlist-btn {
    padding: 5px !important;
    margin-left: 5px !important;
}

/* Styles for responsive design */
@media (max-width: 768px) {
    .card {
        width: 200px;
        /* Adjust the width for smaller screens */
        height: 300px;
        /* Adjust the height for smaller screens */
    }

    .card-body h5 {
        font-size: 12px;
        font-weight: 700;
    }

    .card-title {
        font-size: 9px;
    }

    .price {
        font-size: 13px;
        font-weight: bold;
        color: green;
    }

    .realPrice {
        font-size: 13px;
    }

    .card-img-top {
        height: 80px;
    }

    .buttons-container {

        width: 95px;
        position: absolute;
        top: 215px;
        left: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .card {
        width: 150px;
        /* Adjust the width for even smaller screens */
        height: 300px;
        /* Adjust the height for even smaller screens */
    }

    .card-img-top {
        height: 50px;
    }

    .buttons-container {
        width: 60px;
        position: absolute;
        top: 215px;
        left: 10px;
        display: flex;
        flex-direction: column;

    }

    .add-to-cart-btn,
    .wishlist-btn {
        font-weight: 300;
    }
}