.signup-box {
    margin: 5% 20% 5% 20%;
    padding: 45px 0px;
    border: 2px solid black;
    border-radius: 15px;
}

.signup-box h2 {
    text-align: center;
    font-weight: 600;
}

.signup-box .box1 {
    padding: 10px 5% 0px 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.signup-box .box1 .input {
    margin-left: 20px;
}

.signup-box .address-box1 {
    padding: 10px 5% 0px 5%;
    width: 100%;
}

.signup-box .user-button{
    padding-top: 20px;
    text-align: center;
}

.signup-box .user-button a {
    width: 150px;
    height: 40px;
}

.signup-box .user-button h6 {
    text-align: center;
    padding-top: 10px;
}


@media screen and (max-width: 480px) {
    .signup-box {
        margin: 100px 40px 40px 40px;
    }

    .signup-box .box1 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: -20px;
        padding: 10px 5% 0px 5%;
    }

    .signup-box .box1 .input {
        margin-top: 10px;
    }

    .signup-box .address-box1 {
        padding: 10px 5% 0px 5%;
    }
}

@media screen and (max-width: 576px) and (min-width: 480px) {
    .signup-box {
        margin: 100px 10% 40px 10%;
    }

    .signup-box .box1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 5% 0px 5%;
    }

    .signup-box .box1 .input {
        margin-top: 10px;
    }

    .signup-box .address-box1 {
        padding: 10px 5% 0px 5%;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .signup-box {
        margin: 10% 10% 0% 10%;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .signup-box {
        margin: 5% 10% 0% 10%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .signup-box {
        margin: 5% 10% 0% 10%;
    }
}